# Database URI
DATABASE_URI=

# JWT Tokens
JWT_ACCESS_TOKEN_SECRET_PRIVATE=
JWT_ACCESS_TOKEN_SECRET_PUBLIC=

# Email Secrets
SMTP_USERNAME=
SMTP_PASSWORD=

# External APIs
OPENROUTER_API_KEY=
ELEVENLABS_API_KEY=
FCM_SERVER_KEY=
FCM_PROJECT_ID=
FCM_CLIENT_EMAIL=
FCM_PRIVATE_KEY=

# Redis
REDIS_URL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
